.lead__subtitle{
    width: 288px;
    height: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
    .lead__subtitle{
        width: 640px;
        height: 72px;
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 56px;
    }
}
@media screen and (min-width: 1024px) {
    .lead__subtitle{
        width: 487.09px;
        height: 63.14px;
        padding-bottom: 57.67px;
    }
}
@media screen and (min-width: 1280px) {
    .lead__subtitle{
        width: 640px;
        height: 72px;
        padding-bottom: 64px;
    }
}