.cover__background{
    background-image: url(../../../Images/cover-trains.jpg);
    width: 100%;
    min-height: 62.5vw;
    background-size: cover;
    background-position: center;
    position: relative;
}
.cover__background::before{
    content: '';
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.cover__background:hover::before{
    opacity: 0.8;
}
@media screen and (min-width: 1088px) {
    .cover__background{
        width: 1088px;
        height: 740px;
        margin: 0 auto;
    }
}