.header__lang-links{
    display: flex;
    align-self:flex-end;
    padding: 0 0 8px;
    margin: 0;
}
@media screen and (min-width: 768px) {
    .header__lang-links{
        padding-bottom: 6px;
    }
}